html, body, header, div, canvas, h1, h2
{
	margin:0px;
	border-width:0px;
	padding:0px;
	color:#FFFFFF;
}

html, body 
{
	height:100%;
	width:100%;
	overflow:hidden;
}

h1
{
	/*background-color:aqua;*/
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
}

h2
{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}

header
{
	background-color:#141E1E;
}

div#wrapper
{
	background-color:#2D3233;
	height:100%;
	width:100%;
}

div#content
{
	width:100%;
	/*height:600px; handled in javascript */
}

div#mainview
{
	height:100%;
	width:50%;
	display:inline-block;
	position:relative;
}

canvas#View
{
	position:absolute;
	top:0px;
	left:0px;
	background-color:black;
	width:100%;
	height:100%;
	display:inline;
}

div#viewcontrols
{
	background-color:rgba(255, 255, 255, 0.1);
	position:absolute;
	bottom:-50px;
	left:0px;
	height:50px;
	width:100%;
	border-top:1px #FFFFFF solid;
}

div.viewcontrol 
{
	display:inline-block;
	width:48px;
	height:48px;
	cursor:pointer;
}

div#expand
{
	background-image:url('content/images/appbar.arrow.expand.border.png');
}

div#collapsed
{
	background-image:url('content/images/appbar.arrow.collapsed.border.png');
	display:none;
}

div.toggle
{
	height:50px;
	width:200px;
	cursor:pointer;
}

div.visible
{
	background-color:#009000;
}

div.invisible
{
	background-color:#900000;
}